* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
}

:root {
    --laranja: rgb(255 102 0);
    --vermelho: rgb(254, 0, 0);
}

body {
    background-image: url(img/background1.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    padding: 30px 15px;
}

#nav-invisivel {
    display: none;
}

#nav-eco {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 30px;
    margin-right: 100px;
}

nav img {
    width: 30px;
}

nav img:hover {
    background-color: var(--laranja);
    border-radius: 7px;
    padding: 7px;
}

.logo-eco-invisivel {
    display: none;
}

#logo {
    width: 350px;
}

#ecologia-img {
    width: 100px;
}

#ecologia-img-invisivel {
    display: none;
}

#slider {
    width: 1000px;
    height: 400px;
    margin: 30px auto;
    background-color: white;
    overflow: hidden;

    background-image: url(img/background1.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#slides {
    width: 400%;
    height: 400px;
    display: flex;
}

#slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1000px;
}

.manual-navigation {
    position: absolute;
    width: 1000px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: var(--laranja);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--laranja);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--laranja);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--laranja);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--laranja);
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--laranja);
}

main {
    background-color: white;
    max-width: 1500px;
    padding: 0 30px;
    margin: auto;
    border-radius: 7px;
    padding-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 1.6em;
}

.titulo01 {
    width: 80px;
}

p {
    font-size: 1.5em;
    margin: 20px 0;
}

.txt-destaque {
    background-color: rgb(93, 93, 93);
    display: flex;
    padding: 20px;
    margin: 40px 20px;
    align-items: center;
    color: white;
    border-radius: 7px;
    box-shadow: 4px 4px 17px 1px #0000008a;;
}

.txt-destaque img {
    width: 400px;
    padding-left: 30px;
}

.section02 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.section02 img{
    padding-left: 30px;
}

footer {
    background-image: url(img/background1.png);
    background-position: center;
    background-attachment: fixed;
    margin: auto;
}

footer p {
    font-family: 0.7em;
    padding-top: 10px;
}

h3 {
    text-decoration: underline;
    padding-top: 10px;
}

.rodape {
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 30px;
    color: white;
    text-align: center;
    padding: 20px;
}

.informacoes {
    width: 30vw;
}

.atendimento {
    width: 30vw;
}

.matriz {
    width: 30vw;
}

.google-maps {
    padding: 15px;
}

.infos-contato{
    display: flex;
    background-color: aqua;
}

.line {
    width: 2px;
    background-color: var(--laranja);
    height: 100%;
}

.top-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-email img {
    width: 100px;
    padding-top: 50px;
}

h4 {
    font-size: 1.3em;
    text-align: center;
    padding-top: 20px;
    width: 60vw;
}

.contato-form {
    margin: 20px;
    display: flex;
    background-color: rgb(93, 93, 93);
    color: white;
    padding: 100px;
    border-radius: 7px;
    justify-content: space-between;    
    box-shadow: -2px -2px 14px 0px #0000008a;
}

.contato-coluna {
    display: flex;
    flex-direction: column;
}

.contato-coluna p {
    margin: 0 0 30px 0;
    font-size: 1em;
}

.form-coluna {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 60vh;
}

#mensagem {
    height: 100px;
}

.button-enviar {
    width: 20%;
    height: 50px;
    background-color:grey;
    border: none;
    border-radius: 7px;
    color: white;
    box-shadow: 4px 2px 14px 0px #0000008a;
}

.button-enviar:hover {
    background-color: var(--laranja);
    cursor: pointer;
    box-shadow: inset -2px -2px 14px 0px #0000008a;
    box-shadow: 4px 2px 14px 0px #0000008a;
}

aside {
    display: flex;
    gap: 10px;
}

aside img {
    width: 50%;
}

/** body **/
@media(max-width: 680px) {
    body {
        background-image: url(img/background1.png);
        background-position: top;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: cover;
    }
}
/** body **/

/** p **/
@media(max-width: 670px) {
    p {
        font-size: 1.2em;
        margin: 5px;
    }

    h1 {
        font-size: 1.4em;
    }
}

@media(max-width: 670px) {
    h1 {
        font-size: 1.1em;
    }
}

@media(max-width: 345px) {
    h1 {
        font-size: 1em;
    }

    .titulo01 {
        width: 60px;
    }
}

@media(max-width: 500px) {
    h4 {
        font-size: 1.1em;
    }
}
/** p **/

/** header **/
@media (max-width: 909px) {
    #nav-eco {
        display: none;
    }

    #nav-invisivel {
        display: flex;
        margin: auto;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 5px;
    }

    nav {
        margin: 0;
    }

    #ecologia-img {
        display: none;
    }

    #logo {
        display: none;
    }

    .logo-eco-invisivel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 15px;
    }

    #logo-invisivel {
        width: 200px;
    }

    #ecologia-img-invisivel {
        display: block;
        width: 80px;
    }

    header {
        padding-bottom: -10px;
    }

    #slider {
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    #ecologia-img-invisivel {
        display: block;
        width: 50px;
    }

    #logo-invisivel {
        width: 150px;
    }

    header {
        padding-bottom: -10px;
    }

    #slider {
        margin-top: 10px;
    }
}
/** header **/

/** Banner **/
@media (max-width: 1015px) {
    #slider {
        width: 800px;
        height: 340px;
    }

    #slides {
        width: 400%;
        height: 340px;
    }

    .slide img {
        width: 800px;
    }

    .manual-navigation {
        width: 800px;
        margin-top: -80px;
    }
}

@media (max-width: 800px) {
    #slider {
        width: 600px;
        height: 250px;
    }

    #slides {
        width: 400%;
        height: 250px;
    }

    .slide img {
        width: 600px;
    }

    .manual-navigation {
        width: 600px;
        margin-top: -60px;

    }
}

@media (max-width: 600px) {
    #slider {
        width: 500px;
        height: 200px;
    }

    #slides {
        width: 400%;
        height: 200px;
    }

    .slide img {
        width: 500px;
    }

    .manual-navigation {
        width: 500px;
        margin-top: -40px;

    }
}

@media (max-width: 518px) {
    #slider {
        width: 483px;
        height: 193px;
    }

    #slides {
        width: 400%;
        height: 193px;
    }

    .slide img {
        width: 483px;
    }

    .manual-navigation {
        width: 483px;
        margin-top: -40px;

    }
}

@media (max-width: 499px) {
    #slider {
        width: 400px;
        height: 160px;
    }

    #slides {
        width: 400%;
    }

    .slide img {
        width: 400px;
    }

    .manual-navigation {
        width: 400px;
        margin-top: -60px;

    }
}

@media (max-width: 417px) {
    #slider {
        width: 300px;
        height: 120px;
    }

    #slides {
        width: 400%;
    }

    .slide img {
        width: 300px;
    }

    .manual-navigation {
        width: 300px;
        margin-top: -100px;

    }
}
/** Banner **/

/** titulo **/
@media(max-width: 760px) {
    .titulo02 {
        width: 100%;
    }
}

@media(max-width: 760px) {
    .titulo02 {
        width: 100%;
    }
}

@media(max-width: 340px) {

}
/** titulo **/

/** txt destacado **/
@media(max-width: 850px) {
    .txt-destaque {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .txt-destaque img {
        width: 400px;
        padding-left: 0px;
        padding-top: 30px;
    }
}
@media(max-width: 599px) {
    .txt-destaque img {
        width: 100%;
    }
}
/** txt destacado **/

/** section02 **/
@media(max-width: 983px) {
    .section02 {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    .section02 img{
        padding: 30px;
    }
}
/** section02 **/

/** formulario contato **/
@media(max-width: 1045px) {
    .contato-form {
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px;
    }
}

@media(max-width: 770px) {
    form {
        padding-left: 0;
    }
}

@media(max-width: 660px) {
    input, textarea {
        width: 50vh;
    }
}

@media(max-width: 570px) {
    input, textarea {
        width: 40vh;
    }
}

@media(max-width: 510px) {
    .contato-form {
        padding: 50px;
        margin: 20px 0 20px 0;
    }
}

@media(max-width: 500px) {
    input, textarea {
        width: 40vh;
    }
}

@media(max-width: 471px) {
    input, textarea {
        width: 50vh;
    }

    .button-enviar {
        width: 40%;
    }
}

@media(max-width: 440px) {
    input, textarea {
        width: 40vh;
    }
}

@media(max-width: 355px) {
    input, textarea {
        width: 30vh;
    }
}

@media(max-width: 320px) {
    input, textarea {
        width: 45vh;
    }

    .contato-form {
        padding: 10px;
        margin-left: -20px;
        margin-right: -20px;
    }
}
/** formulario contato **/

/** footer **/
@media(max-width: 1322px) {
    .rodape {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 0;
    }

    .matriz {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes {
        width: fit-content;
    }
    
    .atendimento {
        width: fit-content;
    }
    
    .matriz {
        width: fit-content;
    }

}

@media(max-width: 400px) {
    .google-maps {
        width: 90%;
        
    }
}
/** footer **/