* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0em;
}

:root {
    --laranja: rgb(255 102 0);
    --vermelho: rgb(254, 0, 0);
}

body {
    background-image: url(img/background1.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    padding: 30px 15px;
}

#nav-invisivel {
    display: none;
}

#nav-eco {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 30px;
    margin-right: 100px;
}

nav img {
    width: 30px;
}

.home-ico {
    width: 35px;
}

nav img:hover {
    background-color: var(--laranja);
    border-radius: 7px;
    padding: 7px;
}

.logo-eco-invisivel {
    display: none;
}

#logo {
    width: 350px;
}

#ecologia-img {
    width: 100px;
}

#ecologia-img-invisivel {
    display: none;
}

#slider {
    width: 1000px;
    height: 400px;
    margin: 30px auto;
    background-color: white;
    overflow: hidden;

    background-image: url(img/background1.png);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

#slides {
    width: 400%;
    height: 400px;
    display: flex;
}

#slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 1000px;
}

.manual-navigation {
    position: absolute;
    width: 1000px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

.manual-btn:hover {
    background-color: var(--laranja);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

.navigation-auto div {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(--laranja);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(--laranja);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(--laranja);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(--laranja);
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: var(--laranja);
}

main {
    background-color: white;
    max-width: 1500px;
    padding: 0 30px;
    margin: auto;
    border-radius: 7px;
    padding-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 1.6em;
    padding-top: 20px;
}

.titulo01 {
    width: 80px;
    padding-top: 20px;
}

p {
    font-size: 1.5em;
    margin: 20px 0;
}

.txt-destaque {
    background-image: linear-gradient(to right, rgb(93, 93, 93), rgb(134, 134, 134));
    display: flex;
    padding: 20px;
    margin: 40px 20px;
    align-items: center;
    color: white;
    border-radius: 7px;
    box-shadow: 4px 4px 17px 1px #0000008a;;
}

.txt-destaque img {
    width: 400px;
    padding-left: 30px;
}

.section02 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

.section02 img{
    padding-left: 30px;
}

h3 {
    text-decoration: underline;
    padding-top: 10px;
}

.infos-contato{
    display: flex;
}

.top-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-email img {
    width: 100px;
    padding-top: 30px;
}

h4 {
    font-size: 1.3em;
    text-align: center;
    padding-top: 20px;
    width: 80%;
}

.contato-form {
    margin: 20px 0;
    display: flex;
    background-image: linear-gradient(to right, #5d5d5d, #868686);
    color: white;
    padding: 80px 100px;
    border-radius: 7px;
    justify-content: space-between;    
    box-shadow: -2px -2px 14px 0px #0000008a;
    gap: 30px;
}

.contato-coluna {
    display: flex;
    flex-direction: column;
}

.contato-coluna p {
    margin: 0 0 30px 0;
    font-size: 1em;
    text-decoration: none;
    color: white;
}


.redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px;
    margin-top: -10px;
    width: fit-content;
    border-radius: 7px;
}

.redes-sociais img {
    width: 35px;
}

.redes-sociais-footer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 20px;
    padding: 5px;
    width: fit-content;
    border-radius: 7px;
}

.redes-sociais-footer img {
    width: 35px;
}

.form-coluna {
    display: flex;
    flex-direction: column;
}

input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 40vw;
}

#mensagem {
    height: 130px;
}

.button-enviar {
    width: 100px;
    height: 50px;
    background-color:grey;
    border: none;
    border-radius: 7px;
    color: white;
    box-shadow: 4px 2px 14px 0px #0000008a;
}

.button-enviar:hover {
    background-color: var(--laranja);
    cursor: pointer;
    box-shadow: inset -2px -2px 14px 0px #0000008a;
    box-shadow: 4px 2px 14px 0px #0000008a;
}

aside {
    display: flex;
    gap: 5px;
    padding: 50px;
}

aside img {
    width: 50%;
}

footer {
    background-image: url(img/background1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
}

.logo-footer {
    display: flex;
    justify-content: center;
}

.logo-footer img {
    width: 300px;
    padding: 10px;
}

.infos-maps {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 15px 30px;
    max-width: 1500px;
    gap: 50px;
    flex-wrap: wrap;
}

.infos-footer {
    color: white;

}

.infos-footer p {
    margin: 0;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

.infos-footer h5 {
    margin-top: 20px;
}

.maps-footer p {
    margin: 0;
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
}

.maps-footer h5 {
    color: white;
    padding-top: 10px;
}

/** body **/
@media(max-width: 680px) {
    body {
        background-image: url(img/background1.png);
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: cover;
    }
}
/** body **/

/** p **/
@media(max-width: 670px) {
    p {
        font-size: 1.2em;
        margin: 5px;
    }

    h1 {
        font-size: 1.4em;
    }
}

@media(max-width: 670px) {
    h1 {
        font-size: 1.1em;
    }
}

@media(max-width: 345px) {
    h1 {
        font-size: 1em;
    }

    .titulo01 {
        width: 60px;
    }
}

@media(max-width: 500px) {
    h4 {
        font-size: 1.1em;
    }
}
/** p **/

/** header **/
@media (max-width: 909px) {
    #nav-eco {
        display: none;
    }

    #nav-invisivel {
        display: flex;
        margin: auto;
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 5px;
    }

    nav {
        margin: 0;
    }

    #ecologia-img {
        display: none;
    }

    #logo {
        display: none;
    }

    .logo-eco-invisivel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 15px;
    }

    #logo-invisivel {
        width: 200px;
    }

    #ecologia-img-invisivel {
        display: block;
        width: 80px;
        margin-right: 5px;
    }

    header {
        padding-bottom: -10px;
    }

    #slider {
        margin-top: 10px;
    }
}

@media (max-width: 499px) {
    nav img {
        width: 25px;
    }

    .home-ico {
        width: 30px;
    }
}

@media (max-width: 320px) {
    #ecologia-img-invisivel {
        display: block;
        width: 50px;
    }

    #logo-invisivel {
        width: 150px;
    }

    header {
        padding-bottom: -10px;
    }

    #slider {
        margin-top: 10px;
    }
}
/** header **/

/** Banner **/
@media (max-width: 1015px) {
    #slider {
        width: 900px;
        height: 350px;
    }

    #slides {
        width: 400%;
        height: 350px;
    }

    .slide img {
        width: 900px;
    }

    .manual-navigation {
        width: 900px;
        margin-top: -40px;
    }
}

@media (max-width: 915px) {
    #slider {
        width: 800px;
        height: 320px;
    }

    #slides {
        width: 400%;
        height: 320px;
    }

    .slide img {
        width: 800px;
    }

    .manual-navigation {
        width: 800px;
        margin-top: -60px;
    }
}


@media (max-width: 815px) {
    #slider {
        width: 700px;
        height: 280px;
    }

    #slides {
        width: 400%;
        height: 280px;
    }

    .slide img {
        width: 700px;
    }

    .manual-navigation {
        width: 700px;
        margin-top: -50px;

    }
}

@media (max-width: 715px) {
    #slider {
        width: 600px;
        height: 240px;
    }

    #slides {
        width: 400%;
        height: 240px;
    }

    .slide img {
        width: 600px;
    }

    .manual-navigation {
        width: 600px;
        margin-top: -40px;

    }
}

@media (max-width: 615px) {
    #slider {
        width: 550px;
        height: 220px;
    }

    #slides {
        width: 400%;
        height: 220px;
    }

    .slide img {
        width: 550px;
    }

    .manual-navigation {
        width: 550px;
        margin-top: -40px;

    }
}

@media (max-width: 567px) {
    #slider {
        width: 500px;
        height: 200px;
    }

    #slides {
        width: 400%;
        height: 200px;
    }

    .slide img {
        width: 500px;
    }

    .manual-navigation {
        width: 500px;
        margin-top: -40px;

    }
}

@media (max-width: 517px) {
    #slider {
        width: 450px;
        height: 180px;
    }

    #slides {
        width: 400%;
        height: 180px;
    }   

    .slide img {
        width: 450px;
    }

    .manual-navigation {
        width: 450px;
        margin-top: -40px;

    }
}

@media (max-width: 467px) {
    #slider {
        width: 400px;
        height: 160px;
    }

    #slides {
        width: 400%;
        height: 160px;
    }   

    .slide img {
        width: 400px;
    }

    .manual-navigation {
        width: 400px;
        margin-top: -40px;

    }
}

@media (max-width: 417px) {
    #slider {
        width: 350px;
        height: 140px;
    }

    #slides {
        width: 400%;
        height: 140px;
    }   

    .slide img {
        width: 350px;
    }

    .manual-navigation {
        width: 350px;
        margin-top: -30px;

    }
}

@media (max-width: 367px) {
    #slider {
        width: 310px;
        height: 125px;
    }

    #slides {
        width: 400%;
        height: 125px;
    }   

    .slide img {
        width: 310px;
    }

    .manual-navigation {
        width: 310px;
        margin-top: -30px;

    }
}

@media (max-width: 335px) {
    #slider {
        width: 290px;
        height: 120px;
    }

    #slides {
        width: 400%;
        height: 120px;
    }   

    .slide img {
        width: 290px;
    }

    .manual-navigation {
        width: 290px;
        margin-top: -30px;

    }
}

/** Banner **/

/** main **/
@media(max-width: 560px) {
    main {
        padding: 0 10px;
    }
}
/** main **/

/** titulo **/
@media(max-width: 500px) {
    .titulo01 {
        width: 60px;
    }
}
/** titulo **/

/** txt destacado **/
@media(max-width: 850px) {
    .txt-destaque {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .txt-destaque img {
        width: 400px;
        padding-left: 0px;
        padding-top: 30px;
    }
}
@media(max-width: 599px) {
    .txt-destaque img {
        width: 100%;
    }
}
/** txt destacado **/

/** section02 **/
@media(max-width: 983px) {
    .section02 {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    .section02 img{
        padding: 30px;
    }
}
/** section02 **/

/** formulario contato **/
@media(max-width: 759px) {
    .contato-form {
        margin: 20px 0;
        padding: 30px 50px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    input, textarea {
        width: 70vw;
    }
    
    #mensagem {
        height: 130px;
    }
}

@media(max-width: 400px) {
    .contato-form {
        margin: 10px 0;
        padding: 20px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    input, textarea {
        width: 70vw;
    }
    
    #mensagem {
        height: 70px;
    }
}

@media(max-width: 320px) {
    .contato-form {
        margin: 15px -10px;
        padding: 20px 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    input, textarea {
        width: 70vw;
    }
    
    #mensagem {
        height: 70px;
    }

    .button-enviar {
        width: 100px;
        height: 40px;
    }
}
/** formulario contato **/

/** aside **/
@media(max-width: 800px) {
    aside {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 10px;
    }
    
    aside img {
        width: 100%;
    }
}
/** aside **/

/** footer **/
@media(max-width: 846px) {
    .infos-maps {
        justify-content: center;
    }
}

@media (max-width: 450px) {
    .google-maps {
        width: 100%;
    }

    .logo-footer img {
        width: 90%;
    }
}
/** footer **/