* {
    margin: 0;
    padding: 0;
}

:root {

}

body {
    background-image: url(img/background1.png);
    background-size: 100% 40%;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

header {
    display: flex;
    max-width: 1500;
    justify-content: space-between;
    margin: 20px 50px;
}

#nav-eco {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    gap: 30px;
    margin-right: 100px;
}

nav img {
    width: 30px;
}

nav img:hover {
    background-color: rgb(119, 81, 50);
    border-radius: 7px;
    padding: 10px;
}

#logo {
    width: 300px;
}

#ecologia-img {
    width: 100px;
}